<div fullScreenSpan class="outerDiv">

  <!-- Case a -->
  <div [divTransform]="'div-bubble'" [duration]="'4'" [iterationCount]="'infinite'" class="innerDiv"></div>

  <!-- Case b -->
  <!-- <div [divTransform]="'div-bubble'" [duration]="'4'" iterationCount="infinite" class="innerDiv"></div> -->

  <!-- Case c -->
  <!-- <div [divTransform]="'div-bubble'" duration="4" [iterationCount]="'infinite'" class="innerDiv"></div> -->

  <!-- Case d -->
  <!-- <div [divTransform]="'div-bubble'" duration="4" iterationCount="infinite" class="innerDiv"></div> -->
</div>